
<div class="column span-24 last" id="headBox">
  <div><h1> The Event </h1></div>
 <div class="column span-6 headboxButton selectedbutton">
 1) The Event 
   
</div>

<div class="column span-6 headboxButton">
  
  2) Invite Friends
</div>
<div class="column span-6 headboxButton last">
  
  3) Confirm it
  
</div>
</div>
<div class="column span-24 last squareBox" >
  
  <div class="column span-24 last" id="receiverHead">
    
  <div class="column span-24" id="formSpace" >
  <%=render :template=>'gift_receivers/new'%>
  </div>
  </div>  
</div> 

