<div class="column span-24 last loginBox">
  
  <div class="column span-8">
    &nbsp;
  </div>
  <div class="column span-8">
    Your payment had failed.
  </div>
  <div class="column span-8 last">
    &nbsp;
  </div>
  
</div>